<head>

    <title>List</title>

    <style>
      .thumbnail{
        height: 80px;
      }
      .genres{
        display: flex;
      }
      .genre{
        margin-right: 5px;
      }
      .overview{
        width: 100%;
      }
    </style>
  </head>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Tv Shows
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label><h1>Trending tv shows</h1></ion-label>
    </ion-list-header>
    <ion-item ion-item *ngFor="let tvshow of tvshows" >
      <ion-thumbnail class="thumbnail" slot="start">
        <ion-img class="thumbnail" [src]="'https://image.tmdb.org/t/p/w200/'+tvshow.poster_path"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{tvshow.name}}</h2>
        <h4>Release on: {{tvshow.first_air_date}}</h4>
        <div class="genres">
          <div ion-item *ngFor="let genre of tvshow.genres" >
            <ion-badge class="genre" color="dark">{{genre.name}}</ion-badge>
          </div>
        </div>
        <p class="overview">{{tvshow.overview}}</p>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>
