<ion-header>
  <ion-toolbar>
    <ion-title>
      Tv Shows
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>trending tv shows</ion-label>
    </ion-list-header>
    <ion-item ion-item *ngFor="let tvshow of tvshows.results" >
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>
        <h2>{{tvshow.name}}</h2>

        <div ion-item *ngFor="let genre of tvshow.genre_ids" >
          <p>{{genre}}</p>
        </div>

      </ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>
